<div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width colelem" id="u5194"><!-- group -->
     <div class="clearfix" id="u5194_align_to_page">
      <a class="nonblock nontext clip_frame grpelem" id="u5256" href="newsfeed.html"><!-- image --><img class="block" id="u5256_img" src="images/givon(2)line.png" alt="" width="140" height="51"/></a>
      <div class="clearfix grpelem" id="u1504"><!-- group -->
       <div class="clearfix grpelem" id="u1506"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u1507-4" href="index.html"><!-- content --><p id="u1507-2">HOW IT WORKS</p></a>
       </div>
      </div>
      <div class="clearfix grpelem" id="u1518"><!-- group -->
       <div class="clearfix grpelem" id="u1519"><!-- group -->
        <div class="clip_frame grpelem" id="u1521"><!-- image -->
         <img class="block" id="u1521_img" src="images/searchbutton.png" alt="" width="19" height="19"/>
        </div>
        <div class="clearfix grpelem" id="u1520-4"><!-- content -->
         <p>search causes &amp; organizations</p>
        </div>
       </div>
      </div>
      <div class="grpelem" id="u1523"><!-- simple frame --></div>
      <div class="clearfix grpelem" id="u1509"><!-- group -->
       <div class="clearfix grpelem" id="u1510"><!-- group -->
        <div class="clip_frame grpelem" id="u1511"><!-- image -->
         <img class="block" id="u1511_img" src="images/screen%20shot%202014-01-22%20at%20112411%20pm-u1511.jpg" alt="" width="21" height="21"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="u1513"><!-- group -->
        <div class="clearfix grpelem" id="u1515"><!-- group -->
         <div class="clearfix grpelem" id="u1516"><!-- group -->
          <div class="grpelem" id="u1517"><!-- simple frame --></div>
         </div>
        </div>
        <div class="clearfix grpelem" id="u1514-4"><!-- content -->
         <p>3</p>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="rgba-background browser_width colelem" id="u1549"><!-- column -->
     <div class="clearfix" id="u1549_align_to_page">
      <div class="clip_frame colelem" id="u1559"><!-- image -->
       <img class="block" id="u1559_img" src="images/logo.png" alt="" width="557" height="139"/>
      </div>
      <div class="clip_frame colelem" id="u1556"><!-- image -->
       <img class="block" id="u1556_img" src="images/play%20button.png" alt="" width="121" height="121"/>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1612-4"><!-- group -->
     <div class="clearfix grpelem" id="u1612-4"><!-- content -->
      <p>About</p>
     </div>
     <div class="rounded-corners rgba-background clearfix grpelem" id="u1620-4"><!-- content -->
      <p id="u1620-2">Donate</p>
     </div>
     <div class="rounded-corners rgba-background clearfix grpelem" id="u1619-4"><!-- content -->
      <p id="u1619-2">Support</p>
     </div>
     <div class="rounded-corners rgba-background clearfix grpelem" id="u1614-4"><!-- content -->
      <p id="u1614-2">Share</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pppu1615-4"><!-- group -->
     <div class="clearfix grpelem" id="ppu1615-4"><!-- column -->
      <div class="clearfix colelem" id="pu1615-4"><!-- group -->
       <div class="clearfix grpelem" id="u1615-4"><!-- content -->
        <p>Supporters:</p>
       </div>
       <div class="clearfix grpelem" id="u1616-4"><!-- content -->
        <p>12,789,281</p>
       </div>
      </div>
      <div class="clearfix colelem" id="pu1617-4"><!-- group -->
       <div class="clearfix grpelem" id="u1617-4"><!-- content -->
        <p>Donors:</p>
       </div>
       <div class="clearfix grpelem" id="u1618-4"><!-- content -->
        <p>324,782</p>
       </div>
      </div>
      <div class="clearfix colelem" id="pu1631-4"><!-- group -->
       <div class="clearfix grpelem" id="u1631-4"><!-- content -->
        <p>Total Donated:</p>
       </div>
       <div class="clearfix grpelem" id="u1632-4"><!-- content -->
        <p>$31,324,782</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u1611-4"><!-- content -->
      <p>Stanford University, located between San Francisco and San Jose in the heart of California's Silicon Valley, is one of the world's leading teaching and research universities. Since its opening in 1891, Stanford has been dedicated to finding solutions to big challenges and to preparing students for leadership in a complex world.</p>
     </div>
     <div class="clearfix grpelem" id="u1648-4"><!-- content -->
      <p>(read more)</p>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu1633-4"><!-- group -->
     <div class="clearfix grpelem" id="pu1633-4"><!-- column -->
      <div class="clearfix colelem" id="u1633-4"><!-- content -->
       <p>You've Influenced:</p>
      </div>
      <div class="clearfix colelem" id="pu1635-4"><!-- group -->
       <div class="clearfix grpelem" id="u1635-4"><!-- content -->
        <p>Hits:</p>
       </div>
       <div class="clearfix grpelem" id="u1636-4"><!-- content -->
        <p>321</p>
       </div>
      </div>
      <div class="clearfix colelem" id="pu1637-4"><!-- group -->
       <div class="clearfix grpelem" id="u1637-4"><!-- content -->
        <p>Supporters:</p>
       </div>
       <div class="clearfix grpelem" id="u1638-4"><!-- content -->
        <p>72</p>
       </div>
      </div>
      <div class="clearfix colelem" id="pu1639-4"><!-- group -->
       <div class="clearfix grpelem" id="u1639-4"><!-- content -->
        <p>Donations:</p>
       </div>
       <div class="clearfix grpelem" id="u1640-4"><!-- content -->
        <p>$1,720</p>
       </div>
      </div>
     </div>
     <div class="clip_frame grpelem" id="u1649"><!-- image -->
      <img class="block" id="u1649_img" src="images/pie.png" alt="" width="172" height="174"/>
     </div>
     <div class="clearfix grpelem" id="u1678-4"><!-- content -->
      <p>Education</p>
     </div>
     <div class="clearfix grpelem" id="u1679-4"><!-- content -->
      <p>21%</p>
     </div>
     <div class="clearfix grpelem" id="u1680-4"><!-- content -->
      <p>Research</p>
     </div>
     <div class="clearfix grpelem" id="u1681-4"><!-- content -->
      <p>29%</p>
     </div>
     <div class="clearfix grpelem" id="u1686-4"><!-- content -->
      <p>Research</p>
     </div>
     <div class="clearfix grpelem" id="u1687-4"><!-- content -->
      <p>17%</p>
     </div>
     <div class="clearfix grpelem" id="u1688-4"><!-- content -->
      <p>Atheletics</p>
     </div>
     <div class="clearfix grpelem" id="u1689-4"><!-- content -->
      <p>32%</p>
     </div>
    </div>
    <div class="shadow clearfix browser_width colelem" id="u1607-4"><!-- content -->
     <p id="u1607-2">Education</p>
    </div>
    <a class="nonblock nontext shadow clearfix browser_width colelem" id="u1608-4" href="stanford-(project).html"><!-- content --><p id="u1608-2">Research</p></a>
    <div class="shadow clearfix browser_width colelem" id="u1609-4"><!-- content -->
     <p id="u1609-2">Community</p>
    </div>
    <div class="shadow clearfix browser_width colelem" id="u1610-4"><!-- content -->
     <p id="u1610-2">Athletics</p>
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u1529"><!-- group -->
     <div class="clearfix" id="u1529_align_to_page">
      <a class="nonblock nontext clip_frame clearfix grpelem" id="u5276" href="index.html"><!-- image --><div id="u5276_clip"><img class="position_content" id="u5276_img" src="images/green-white.png" alt="" width="125" height="45"/></div></a>
     </div>
    </div>
   </div>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?3880880085" type="text/javascript"></script>
  <script src="scripts/jquery.tobrowserwidth.js?152985095" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?4199601726" type="text/javascript"></script>
  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
$('.browser_width').toBrowserWidth();/* browser width elements */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { Muse.Assert.fail('Error calling selector function:' + e); }});
</script>