.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1461.5999999999997px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -39px;
	margin-bottom: -36px;
}

#u5194
{
	z-index: 3;
	width: 1160px;
	left: -100px;
}

#u5194_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u5256
{
	z-index: 31;
	width: 140px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 19px;
}

#u1504
{
	z-index: 4;
	width: 124px;
	margin-right: -10000px;
	left: 170px;
}

#u1506
{
	z-index: 5;
	width: 124px;
	margin-right: -10000px;
}

#u1507-4
{
	z-index: 6;
	width: 124px;
	min-height: 58px;
	margin-right: -10000px;
}

#u1507-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 58px;
	margin: 0px -10000px 0px 0px;
}

#u1518
{
	z-index: 22;
	width: 237px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 794px;
}

#u1519
{
	z-index: 23;
	width: 237px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u1521
{
	z-index: 24;
	width: 19px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 8px;
}

#u1520-4
{
	z-index: 26;
	width: 184px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 34px;
}

#u1523
{
	z-index: 30;
	width: 1px;
	height: 59px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 1062px;
}

#u1509
{
	z-index: 10;
	width: 38px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1094px;
}

#u1510
{
	z-index: 11;
	width: 21px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u1511
{
	z-index: 12;
	width: 21px;
	margin-right: -10000px;
}

#u1511:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1513
{
	z-index: 14;
	width: 16px;
	margin-right: -10000px;
	left: 23px;
}

#u1515
{
	z-index: 15;
	width: 16px;
	margin-right: -10000px;
}

#u1516
{
	z-index: 16;
	width: 16px;
	margin-right: -10000px;
}

#u1517
{
	z-index: 17;
	width: 11px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 6px;
	left: -2px;
}

#u1514-4
{
	z-index: 18;
	width: 7px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 5px;
}

#pu1084
{
	width: 0.01px;
	left: -100px;
	margin-top: 2px;
	position: relative;
}

#u1084
{
	z-index: 47;
	width: 1193px;
	background: #79AFD3 url("../images/u1084-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(56%, #FFFFFF),to(#79AFD3));
	background: -webkit-linear-gradient(left,#FFFFFF 56%,#79AFD3 );
	background: -moz-linear-gradient(left,#FFFFFF 56%,#79AFD3 );
	background: -ms-linear-gradient(left,#FFFFFF 56%,#79AFD3 );
	background: -o-linear-gradient(left,#FFFFFF 56%,#79AFD3 );
	background: linear-gradient(to right,#FFFFFF 56%,#79AFD3 );
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u1061
{
	z-index: 48;
	width: 843px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -24px;
}

#u1061_clip
{
	overflow: hidden;
	width: 843px;
	height: 430px;
}

#u1061_img
{
	margin-top: -28px;
	margin-right: 155px;
}

#u1087
{
	z-index: 50;
	width: 121px;
	background-color: transparent;
	opacity: 0.24;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=24)";
	filter: alpha(opacity=24);
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 520px;
}

#u1087:hover
{
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	margin: 139px -10000px 0px 0px;
}

#u1298-6
{
	z-index: 95;
	width: 602px;
	min-height: 140px;
	color: #7F7F7F;
	font-size: 48px;
	line-height: 58px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 627px;
}

#pu1100-4
{
	width: 0.01px;
	left: -38px;
	margin-top: 14px;
	position: relative;
}

#u1100-4
{
	z-index: 52;
	width: 483px;
	min-height: 63px;
	color: #646464;
	font-size: 48px;
	line-height: 58px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1101-4
{
	z-index: 81;
	width: 200px;
	background-color: transparent;
	color: #3896C7;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 236px;
}

#u1101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#u1097-6
{
	z-index: 56;
	width: 972px;
	min-height: 110px;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1097-2,#u1097-3
{
	color: #646464;
}

#pu1085-11
{
	width: 0.01px;
	left: -38px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u1085-11
{
	z-index: 62;
	width: 972px;
	color: #646464;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 38px;
}

#u1127-4
{
	z-index: 73;
	width: 483px;
	min-height: 63px;
	color: #646464;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1150-4
{
	z-index: 77;
	width: 200px;
	background-color: transparent;
	color: #3896C7;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 290px;
}

#u1150-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u1101-4:hover p,#u1150-4:hover p
{
	color: #ED3FED;
	visibility: inherit;
	text-decoration: none;
	font-style: normal;
}

#u1075
{
	z-index: 90;
	width: 1217px;
	border-style: none;
	border-color: transparent;
	left: -124px;
	margin-top: 87px;
	position: relative;
	background: #FAFA49 url("../images/shutterstock_74870284.jpg") no-repeat left bottom;
	background-size: cover !important;
}

#u1075:hover
{
	-pie-box-shadow: 0px 11px 8px #7F7F7F;
	-moz-box-shadow: 0px 11px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 11px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 11px 8px rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 87px 0px 0px;
	background-size: cover !important;
}

#u1168-4
{
	z-index: 91;
	width: 146px;
	min-height: 63px;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 99px;
}

#u1177
{
	z-index: 85;
	width: 1217px;
	border-style: none;
	border-color: transparent;
	background-color: #294E85;
	left: -124px;
	position: relative;
}

#u1177:hover
{
	-pie-box-shadow: 0px 13px 8px #7F7F7F;
	-moz-box-shadow: 0px 13px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 13px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 13px 8px rgba(0, 0, 0, 0.5);
	background-color: #2CAB15;
	margin: 0px;
}

#u1178-4
{
	z-index: 86;
	width: 234px;
	min-height: 63px;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 99px;
}

#u1169
{
	z-index: 41;
	width: 1217px;
	position: relative;
	margin-right: -10000px;
}

#u1170
{
	z-index: 42;
	width: 1217px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #4A529D;
	position: relative;
	margin-right: -10000px;
}

#u1170:hover
{
	-pie-box-shadow: 0px 13px 8px #7F7F7F;
	-moz-box-shadow: 0px 13px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 13px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 13px 8px rgba(0, 0, 0, 0.5);
	background-color: #6719A2;
	margin: 0px -10000px 0px 0px;
}

#u1130-4
{
	z-index: 43;
	width: 402px;
	min-height: 63px;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 99px;
}

#pu1169,#pu1171
{
	width: 0.01px;
	left: -124px;
	position: relative;
}

#u1171
{
	z-index: 35;
	width: 1217px;
	position: relative;
	margin-right: -10000px;
}

#u1172
{
	z-index: 36;
	width: 1217px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #91BDDB;
	position: relative;
	margin-right: -10000px;
}

#u1172:hover
{
	-pie-box-shadow: 9px 9px 8px #7F7F7F;
	-moz-box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 9px 9px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.5);
	background-color: #B41515;
	margin: 0px -10000px 0px 0px;
}

#u1173-4
{
	z-index: 37;
	width: 181px;
	min-height: 63px;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 99px;
}

#u1529
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 36px;
	left: -100px;
	top: -7px;
}

#u1529_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -7px;
}

#u5276
{
	z-index: 33;
	width: 126px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 19px;
}

#u5276_clip
{
	width: 126px;
	height: 46px;
}

#u5276_img
{
	margin-top: 4px;
	margin-right: 1px;
	margin-bottom: -3px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

