#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u2176-4,#u1982-4,#u1914-4
{
	font-family: karla-n4, sans-serif;
}

#u1946-4
{
	font-family: karla-n4, sans-serif;
}

#u1984-4
{
	font-family: karla-n4, sans-serif;
}

#u1945-7,#u1985-4,#u1995-4,#u1944-4,#u1923-4,#u1992-4,#u1922-4,#u2058-4,#u2059-4,#u1981-4,#u1997-4,#u1989-4,#u1991-4,#u1941-4,#u1951-4,#u1939-4,#u2061-4,#u2062-4,#u2063-4,#u2064-21,#u2065-18,#u2066-4,#u2098-4,#u2099-4,#u2100-4
{
	font-family: karla-n4, sans-serif;
}

#u2140-4,#u2141-4
{
	font-family: karla-n4, sans-serif;
}

#u2149-6,#u2150-4
{
	font-family: karla-n4, sans-serif;
}

#u2158-6,#u2159-4
{
	font-family: karla-n4, sans-serif;
}

#u2067-4,#u2167-6,#u2168-4
{
	font-family: karla-n4, sans-serif;
}

#u2178-4,#u2298-4,#u2299-4,#u2319-4,#u2315-4
{
	font-family: karla-n4, sans-serif;
}

#u2318-4,#u2376-4,#u2378-4
{
	font-family: karla-n4, sans-serif;
}

#u2377-4,#u2387-4,#u2389-4
{
	font-family: karla-n4, sans-serif;
}

#u2388-4,#u2255-4,#u2245-4
{
	font-family: karla-n4, sans-serif;
}

#u2244-4
{
	font-family: karla-n4, sans-serif;
}

