#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u2614-4
{
	font-family: karla-n4, sans-serif;
}

#u2593-4
{
	font-family: karla-n4, sans-serif;
}

#u2592-4
{
	font-family: karla-n4, sans-serif;
}

#u2603-4
{
	font-family: karla-n4, sans-serif;
}

#u2589-4
{
	font-family: karla-n4, sans-serif;
}

#u2610-4
{
	font-family: karla-n4, sans-serif;
}

#u2602-4
{
	font-family: karla-n4, sans-serif;
}

#u2777-4,#u2778-4,#u2779-4
{
	font-family: karla-n4, sans-serif;
}

#u2785-4,#u2786-4,#u2787-4,#u2788-4,#u2791-4,#u2792-4,#u2793-3,#u2790-4
{
	font-family: karla-n4, sans-serif;
}

#u2784-4
{
	font-family: karla-n4, sans-serif;
}

#u2789-4
{
	font-family: karla-n4, sans-serif;
}

#u3118-3
{
	font-family: karla-n4, sans-serif;
}

