#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u1612-4,#u1620-4
{
	font-family: karla-n4, sans-serif;
}

#u1619-4
{
	font-family: karla-n4, sans-serif;
}

#u1614-4
{
	font-family: karla-n4, sans-serif;
}

#u1615-4,#u1616-4,#u1617-4,#u1618-4,#u1631-4,#u1632-4,#u1611-4,#u1648-4
{
	font-family: karla-n4, sans-serif;
}

#u1633-4,#u1635-4,#u1636-4,#u1637-4,#u1638-4,#u1639-4,#u1640-4,#u1678-4,#u1679-4,#u1680-4,#u1681-4,#u1686-4,#u1687-4,#u1688-4,#u1689-4,#u1607-4
{
	font-family: karla-n4, sans-serif;
}

#u1608-4
{
	font-family: karla-n4, sans-serif;
}

#u1609-4
{
	font-family: karla-n4, sans-serif;
}

#u1610-4
{
	font-family: karla-n4, sans-serif;
}

