#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u1816-4,#u1817-4
{
	font-family: karla-n4, sans-serif;
}

#u1812-4
{
	font-family: karla-n4, sans-serif;
}

#u1791-4
{
	font-family: karla-n4, sans-serif;
}

#u1802-4,#u1801-4,#u1795-4,#u1808-4,#u1809-4,#u1799-4,#u1804-4,#u1803-4
{
	font-family: karla-n4, sans-serif;
}

#u1798-4,#u1786-4,#u1787-4,#u1814-4,#u1781-4,#u1790-4,#u1794-4,#u1784-4,#u1789-4,#u1785-4,#u1783-4,#u1797-4,#u1800-4,#u1818-4,#u1815-4,#u1796-4
{
	font-family: karla-n4, sans-serif;
}

#u1782-4
{
	font-family: karla-n4, sans-serif;
}

#u1807-4
{
	font-family: karla-n4, sans-serif;
}

#u1813-4
{
	font-family: karla-n4, sans-serif;
}

#u1839-4,#u1838-4,#u1863-4,#u1862-4,#u1877-4,#u1876-4
{
	font-family: arimo-n4, sans-serif;
}

#u1840-5,#u1845-4,#u1832-4,#u1864-5,#u1872-4,#u1870-4,#u1878-5,#u1886-4,#u1884-4
{
	font-family: karla-n4, sans-serif;
}

