#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u3464-4
{
	font-family: karla-n4, sans-serif;
}

#u3469-4
{
	font-family: karla-n4, sans-serif;
}

#u3470-4
{
	font-family: karla-n4, sans-serif;
}

#u3487-4,#u3442-4
{
	font-family: karla-n4, sans-serif;
}

#u3427-4
{
	font-family: karla-n4, sans-serif;
}

#u3454-4,#u3455-4,#u3430-4,#u3429-4,#u3437-4
{
	font-family: karla-n4, sans-serif;
}

#u3431-4
{
	font-family: karla-n4, sans-serif;
}

#u3488-4,#u3483-4,#u3448-4,#u3516-4,#u3417-4,#u3467-4,#u3418-4,#u3466-4,#u3433-4,#u3434-8,#u3503-4,#u3424-4,#u3517-4,#u3425-4
{
	font-family: karla-n4, sans-serif;
}

#u3465-8,#u3502-3,#u3450-4
{
	font-family: karla-n4, sans-serif;
}

#u3485-5,#u3508-4,#u3479-4,#u3468-5,#u3519-4
{
	font-family: karla-n4, sans-serif;
}

#u3457-4
{
	font-family: karla-n4, sans-serif;
}

#u3486-8,#u3426-4,#u3458-5,#u3421-4
{
	font-family: karla-n4, sans-serif;
}

#u3515-4
{
	font-family: karla-n4, sans-serif;
}

#u3446-4
{
	font-family: karla-n4, sans-serif;
}

#u3438-4
{
	font-family: karla-n4, sans-serif;
}

#u3482-8,#u3436-6,#u3428-4,#u3432-4,#u3471-4
{
	font-family: karla-n4, sans-serif;
}

#u3422-4
{
	font-family: karla-n4, sans-serif;
}

#u3443-4
{
	font-family: karla-n4, sans-serif;
}

#u3504-5,#u3423-4,#u3447-5,#u3441-5,#u3520-5,#u3484-4
{
	font-family: karla-n4, sans-serif;
}

#u3535-5,#u3539-4
{
	font-family: karla-n4, sans-serif;
}

#u3542-4,#u3544-4,#u3546-4,#u3959-4,#u3552-4
{
	font-family: karla-n4, sans-serif;
}

#u3537-4,#u3538-4
{
	font-family: karla-n4, sans-serif;
}

#u3499-4,#u3500-4
{
	font-family: karla-n4, sans-serif;
}

