#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u5343-4,#u5350-4,#u5351-4
{
	font-family: karla-n4, sans-serif;
}

#u5349-4
{
	font-family: karla-n4, sans-serif;
}

#u5347-4
{
	font-family: karla-n4, sans-serif;
}

#u5429-4
{
	font-family: karla-n4, sans-serif;
}

#u5428-5,#u5436-4,#u5435-4
{
	font-family: karla-n4, sans-serif;
}

#u5426-4
{
	font-family: karla-n4, sans-serif;
}

#u5470-4,#u5344-4,#u5473-4
{
	font-family: karla-n4, sans-serif;
}

#u5474-4
{
	font-family: karla-n4, sans-serif;
}

#u5475-4
{
	font-family: karla-n4, sans-serif;
}

#u5446-4
{
	font-family: karla-n4, sans-serif;
}

#u5448-4,#u5456-4,#u5460-4,#u5468-4,#u5476-4
{
	font-family: karla-n4, sans-serif;
}

#u5477-4,#u5501-4,#u5502-5,#u5508-5,#u5509-5,#u5504-5,#u5510-5,#u5511-5,#u5506-5,#u5512-5,#u5513-5,#u5507-4
{
	font-family: karla-n4, sans-serif;
}

#u5498-4
{
	font-family: karla-n4, sans-serif;
}

#u5499-4
{
	font-family: karla-n4, sans-serif;
}

#u5500-4
{
	font-family: karla-n4, sans-serif;
}

#u5517-5,#u5495-3
{
	font-family: karla-n4, sans-serif;
}

