#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u3852-4
{
	font-family: karla-n4, sans-serif;
}

#u3802-4
{
	font-family: karla-n4, sans-serif;
}

#u3833-4
{
	font-family: karla-n4, sans-serif;
}

#u3825-4
{
	font-family: karla-n4, sans-serif;
}

#u3832-4
{
	font-family: karla-n4, sans-serif;
}

#u3789-4
{
	font-family: karla-n4, sans-serif;
}

#u3797-4
{
	font-family: karla-n4, sans-serif;
}

#u3784-4
{
	font-family: karla-n4, sans-serif;
}

#u3901-4,#u3815-4,#u3816-4,#u3787-4,#u3786-4,#u3853-4,#u3847-4,#u3808-4,#u3882-4,#u3774-4,#u3829-4,#u3775-4,#u3828-4,#u3792-4,#u3900-3
{
	font-family: karla-n4, sans-serif;
}

