#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u3646-4,#u3627-4
{
	font-family: karla-n4, sans-serif;
}

#u3619-4
{
	font-family: karla-n4, sans-serif;
}

#u3626-4
{
	font-family: karla-n4, sans-serif;
}

#u3702-6,#u3764-4,#u3935-4,#u3704-4,#u3707-4,#u3712-4,#u3708-4,#u3716-4,#u3724-4,#u3718-4,#u3726-4,#u3728-4,#u3694-4,#u3696-4,#u3729-4,#u3733-4,#u3739-4,#u3745-4,#u3750-4,#u3754-4,#u3697-4
{
	font-family: karla-n4, sans-serif;
}

#u3766-4,#u3768-4
{
	font-family: karla-n4, sans-serif;
}

#u3698-4,#u3699-4
{
	font-family: karla-n4, sans-serif;
}

#u3767-4,#u3769-4
{
	font-family: karla-n4, sans-serif;
}

#u3700-4,#u3755-4,#u3757-4
{
	font-family: karla-n4, sans-serif;
}

#u3763-4,#u3758-4,#u3760-4
{
	font-family: karla-n4, sans-serif;
}

#u3761-4
{
	font-family: karla-n4, sans-serif;
}

#u3762-4
{
	font-family: karla-n4, sans-serif;
}

#u3661-3
{
	font-family: karla-n4, sans-serif;
}

