#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u5549-4,#u5616-4
{
	font-family: karla-n4, sans-serif;
}

#u5550-4
{
	font-family: karla-n4, sans-serif;
}

#u5540-4
{
	font-family: karla-n4, sans-serif;
}

#u5546-4
{
	font-family: karla-n4, sans-serif;
}

#u5618-4
{
	font-family: karla-n4, sans-serif;
}

#u5633-4
{
	font-family: karla-n4, sans-serif;
}

#u5624-4
{
	font-family: karla-n4, sans-serif;
}

#u5592-8,#u5644-4,#u5617-4,#u5534-4,#u5529-4,#u5589-4
{
	font-family: karla-n4, sans-serif;
}

#u5584-3,#u5572-4,#u5547-4,#u5548-4,#u5585-4
{
	font-family: karla-n4, sans-serif;
}

#u5588-4,#u5570-8,#u5576-5,#u5590-5,#u5610-4,#u5600-4,#u5573-4,#u5542-4,#u5535-4,#u5579-4,#u5587-4,#u5541-4,#u5620-4
{
	font-family: karla-n4, sans-serif;
}

#u5555-4
{
	font-family: karla-n4, sans-serif;
}

#u5553-4
{
	font-family: karla-n4, sans-serif;
}

#u5580-4
{
	font-family: karla-n4, sans-serif;
}

#u5538-4
{
	font-family: karla-n4, sans-serif;
}

#u5533-4
{
	font-family: karla-n4, sans-serif;
}

#u5621-8,#u5635-4,#u5641-5,#u5629-4
{
	font-family: karla-n4, sans-serif;
}

#u5578-4
{
	font-family: karla-n4, sans-serif;
}

#u5539-4
{
	font-family: karla-n4, sans-serif;
}

#u5638-4
{
	font-family: karla-n4, sans-serif;
}

#u5556-3,#u5562-4,#u5569-4
{
	font-family: karla-n4, sans-serif;
}

