#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u4661-4,#u4735-4,#u4664-4,#u4712-4,#u4662-4,#u4714-4,#u4747-4,#u4674-5,#u4720-4,#u4686-4
{
	font-family: karla-n4, sans-serif;
}

#u4692-4
{
	font-family: karla-n4, sans-serif;
}

#u4718-4
{
	font-family: karla-n4, sans-serif;
}

#u4701-4,#u4709-4,#u4737-4,#u4667-4,#u4670-4,#u4741-4
{
	font-family: karla-n4, sans-serif;
}

#u4749-4
{
	font-family: karla-n4, sans-serif;
}

#u4693-4
{
	font-family: karla-n4, sans-serif;
}

#u4772-4
{
	font-family: karla-n4, sans-serif;
}

#u4711-8,#u4763-4,#u4773-4,#u4663-4,#u4669-4
{
	font-family: karla-n4, sans-serif;
}

#u4742-4,#u4695-4,#u4736-4,#u4657-4,#u4771-4,#u4762-4,#u4702-8,#u4700-5,#u4738-5,#u4728-4,#u4760-4,#u4666-4
{
	font-family: karla-n4, sans-serif;
}

#u4717-4
{
	font-family: karla-n4, sans-serif;
}

#u4710-4
{
	font-family: karla-n4, sans-serif;
}

#u4719-8,#u4765-4,#u4653-5,#u4694-4
{
	font-family: karla-n4, sans-serif;
}

#u4721-4
{
	font-family: karla-n4, sans-serif;
}

#u4656-4
{
	font-family: karla-n4, sans-serif;
}

#u4743-4
{
	font-family: karla-n4, sans-serif;
}

#u4673-8,#u4770-6,#u4655-4,#u4724-4,#u4671-4,#u4750-5,#u4739-5,#u4689-5,#u4706-4
{
	font-family: karla-n4, sans-serif;
}

#u4722-4
{
	font-family: karla-n4, sans-serif;
}

#u4744-4
{
	font-family: karla-n4, sans-serif;
}

#u4688-4
{
	font-family: karla-n4, sans-serif;
}

#u4708-5,#u4672-3,#u4684-4,#u4677-4
{
	font-family: karla-n4, sans-serif;
}

