#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u3147-4,#u3167-4
{
	font-family: karla-n4, sans-serif;
}

#u3213-4
{
	font-family: karla-n4, sans-serif;
}

#u3214-4
{
	font-family: karla-n4, sans-serif;
}

#u3216-4
{
	font-family: karla-n4, sans-serif;
}

#u3159-4
{
	font-family: karla-n4, sans-serif;
}

#u3122-4
{
	font-family: karla-n4, sans-serif;
}

#u3126-4
{
	font-family: karla-n4, sans-serif;
}

#u3217-8,#u3218-4
{
	font-family: karla-n4, sans-serif;
}

#u3223-4,#u3224-4,#u3225-4
{
	font-family: karla-n4, sans-serif;
}

#u3124-4,#u3140-4,#u3129-4,#u3148-4,#u3138-4,#u3146-4,#u3133-4,#u3227-8,#u3284-5,#u3259-5,#u3269-4,#u3277-4,#u3158-4,#u3139-4,#u3127-4,#u3123-4,#u3134-4,#u3150-4,#u3286-4
{
	font-family: karla-n4, sans-serif;
}

#u3288-4
{
	font-family: karla-n4, sans-serif;
}

#u3258-4
{
	font-family: karla-n4, sans-serif;
}

#u3947-4
{
	font-family: karla-n4, sans-serif;
}

#u3948-4
{
	font-family: karla-n4, sans-serif;
}

#u3949-4
{
	font-family: karla-n4, sans-serif;
}

#u3336-8,#u3337-4,#u3340-5,#u3344-4
{
	font-family: karla-n4, sans-serif;
}

#u3345-4
{
	font-family: karla-n4, sans-serif;
}

#u3346-4
{
	font-family: karla-n4, sans-serif;
}

#u3343-4
{
	font-family: karla-n4, sans-serif;
}

#u3353-8,#u3354-6
{
	font-family: karla-n4, sans-serif;
}

#u3355-4,#u3356-4,#u3381-4,#u3382-5,#u3555-5,#u3556-5,#u3384-5,#u3557-5,#u3558-5,#u3386-5,#u3559-5,#u3560-5,#u3388-4
{
	font-family: karla-n4, sans-serif;
}

#u3376-4
{
	font-family: karla-n4, sans-serif;
}

#u3377-4
{
	font-family: karla-n4, sans-serif;
}

#u3378-4
{
	font-family: karla-n4, sans-serif;
}

#u3379-5,#u3228-3,#u3233-4,#u3232-4
{
	font-family: karla-n4, sans-serif;
}

