#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u2465-4
{
	font-family: karla-n4, sans-serif;
}

#u2466-4
{
	font-family: karla-n4, sans-serif;
}

#u2485-4,#u2482-4
{
	font-family: karla-n4, sans-serif;
}

#u2481-5,#u2887-4,#u3088-4
{
	font-family: karla-n4, sans-serif;
}

#u3089-4
{
	font-family: karla-n4, sans-serif;
}

#u2472-4
{
	font-family: karla-n4, sans-serif;
}

#u5978-4
{
	font-family: karla-n4, sans-serif;
}

#u2473-4
{
	font-family: karla-n4, sans-serif;
}

#u2495-7,#u2498-4
{
	font-family: karla-n4, sans-serif;
}

#u2474-4
{
	font-family: karla-n4, sans-serif;
}

#u2509-4
{
	font-family: karla-n4, sans-serif;
}

#u2475-4
{
	font-family: karla-n4, sans-serif;
}

#u2833-4
{
	font-family: karla-n4, sans-serif;
}

#u2835-4,#u2886-5,#u2836-5,#u2838-4,#u2840-4,#u2881-4
{
	font-family: karla-n4, sans-serif;
}

#u2883-4
{
	font-family: karla-n4, sans-serif;
}

#u2894-4
{
	font-family: karla-n4, sans-serif;
}

#u2896-4
{
	font-family: karla-n4, sans-serif;
}

#u2980-4,#u2981-6,#u2982-4,#u2983-4,#u2984-4,#u2985-4,#u2986-4,#u2987-4,#u2989-4
{
	font-family: karla-n4, sans-serif;
}

#u2971-4
{
	font-family: karla-n4, sans-serif;
}

#u2969-4
{
	font-family: karla-n4, sans-serif;
}

#u2994-4
{
	font-family: karla-n4, sans-serif;
}

#u2996-4,#u2997-4
{
	font-family: karla-n4, sans-serif;
}

#u2941-4,#u2825-3,#u2830-4,#u2831-4
{
	font-family: karla-n4, sans-serif;
}

