#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u6102-3,#u6129-4
{
	font-family: karla-n4, sans-serif;
}

#u6133-4
{
	font-family: karla-n4, sans-serif;
}

#u6143-4
{
	font-family: karla-n4, sans-serif;
}

#u6119-4
{
	font-family: karla-n4, sans-serif;
}

#u6125-4
{
	font-family: karla-n4, sans-serif;
}

#u6150-4
{
	font-family: karla-n4, sans-serif;
}

#u6118-4
{
	font-family: karla-n4, sans-serif;
}

#u6121-4
{
	font-family: karla-n4, sans-serif;
}

#u6149-4,#u6115-4
{
	font-family: karla-n4, sans-serif;
}

#u6141-4
{
	font-family: karla-n4, sans-serif;
}

#u6113-4
{
	font-family: karla-n4, sans-serif;
}

#u6130-4,#u6147-4,#u6137-4,#u6132-4
{
	font-family: karla-n4, sans-serif;
}

#u6114-4
{
	font-family: karla-n4, sans-serif;
}

#u6146-4,#u6123-4
{
	font-family: karla-n4, sans-serif;
}

#u6120-4
{
	font-family: karla-n4, sans-serif;
}

#u6138-4
{
	font-family: karla-n4, sans-serif;
}

#u6142-4
{
	font-family: karla-n4, sans-serif;
}

#u6148-4
{
	font-family: karla-n4, sans-serif;
}

#u6215-4,#u6216-4
{
	font-family: karla-n4, sans-serif;
}

