#u1507-4
{
	font-family: karla-n4, sans-serif;
}

#u6360-4,#u6362-4,#u6363-4,#u6366-4,#u6346-4
{
	font-family: karla-n4, sans-serif;
}

#u6332-4
{
	font-family: karla-n4, sans-serif;
}

#u6344-4
{
	font-family: karla-n4, sans-serif;
}

#u6353-4
{
	font-family: karla-n4, sans-serif;
}

#u6324-4
{
	font-family: karla-n4, sans-serif;
}

#u6327-4
{
	font-family: karla-n4, sans-serif;
}

#u6348-4
{
	font-family: karla-n4, sans-serif;
}

#u6333-4
{
	font-family: karla-n4, sans-serif;
}

#u6321-4,#u6335-4
{
	font-family: karla-n4, sans-serif;
}

#u6349-4
{
	font-family: karla-n4, sans-serif;
}

#u6326-4
{
	font-family: karla-n4, sans-serif;
}

#u6351-4,#u6320-4,#u6350-4,#u6323-4
{
	font-family: karla-n4, sans-serif;
}

#u6334-4
{
	font-family: karla-n4, sans-serif;
}

#u6330-4,#u6347-4
{
	font-family: karla-n4, sans-serif;
}

#u6325-4
{
	font-family: karla-n4, sans-serif;
}

#u6317-4
{
	font-family: karla-n4, sans-serif;
}

#u6339-4
{
	font-family: karla-n4, sans-serif;
}

#u6345-4
{
	font-family: karla-n4, sans-serif;
}

#u6361-4,#u6313-3
{
	font-family: karla-n4, sans-serif;
}

