.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5749999999982px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -39px;
	margin-bottom: -36px;
}

#u5194
{
	z-index: 3;
	width: 1160px;
	left: -100px;
}

#u5194_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u5256
{
	z-index: 31;
	width: 140px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 19px;
}

#u1504
{
	z-index: 4;
	width: 124px;
	margin-right: -10000px;
	left: 170px;
}

#u1506
{
	z-index: 5;
	width: 124px;
	margin-right: -10000px;
}

#u1507-4
{
	z-index: 6;
	width: 124px;
	min-height: 58px;
	margin-right: -10000px;
}

#u1507-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 58px;
	margin: 0px -10000px 0px 0px;
}

#u1518
{
	z-index: 22;
	width: 237px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 794px;
}

#u1519
{
	z-index: 23;
	width: 237px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u1521
{
	z-index: 24;
	width: 19px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 8px;
}

#u1520-4
{
	z-index: 26;
	width: 184px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 34px;
}

#u1523
{
	z-index: 30;
	width: 1px;
	height: 59px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 1062px;
}

#u1509
{
	z-index: 10;
	width: 38px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1094px;
}

#u1510
{
	z-index: 11;
	width: 21px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u1511
{
	z-index: 12;
	width: 21px;
	margin-right: -10000px;
}

#u1511:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1513
{
	z-index: 14;
	width: 16px;
	margin-right: -10000px;
	left: 23px;
}

#u1515
{
	z-index: 15;
	width: 16px;
	margin-right: -10000px;
}

#u1516
{
	z-index: 16;
	width: 16px;
	margin-right: -10000px;
}

#u1517
{
	z-index: 17;
	width: 11px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 6px;
	left: -2px;
}

#u1514-4
{
	z-index: 18;
	width: 7px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 5px;
}

#ppu6359
{
	width: 0.01px;
	left: -77px;
	margin-top: 26px;
	position: relative;
}

#pu6359
{
	z-index: 284;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 212px;
}

#u6359
{
	z-index: 0;
	width: 234px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.72;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
	filter: alpha(opacity=72);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu6360-4
{
	width: 0.01px;
	position: relative;
	padding-top: 37px;
	z-index: 2;
	padding-bottom: 11px;
}

#u6360-4
{
	z-index: 285;
	width: 116px;
	min-height: 25px;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu6362-4
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 2px;
	position: relative;
}

#u6362-4
{
	z-index: 293;
	width: 45px;
	min-height: 25px;
	text-align: center;
	color: #FFFFFF;
	font-size: 28px;
	line-height: 34px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u6363-4
{
	z-index: 297;
	width: 17px;
	min-height: 25px;
	text-align: left;
	color: #FFFFFF;
	font-size: 28px;
	line-height: 34px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u6366-4
{
	z-index: 302;
	width: 116px;
	min-height: 25px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 24px;
	position: relative;
}

#u6315
{
	z-index: 168;
	width: 144px;
	position: relative;
	margin-right: -10000px;
}

#u6346-4
{
	z-index: 196;
	width: 144px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #E2E2E2;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.11);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 22px;
	text-indent: 15px;
	color: #646464;
	font-size: 18px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6346-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: #399EC3;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	margin: 0px;
}

#u6332-4
{
	z-index: 188;
	width: 144px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #E2E2E2;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.11);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 22px;
	text-indent: 15px;
	color: #646464;
	font-size: 18px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u6344-4
{
	z-index: 192;
	width: 144px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #E2E2E2;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.11);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 22px;
	text-indent: 15px;
	color: #646464;
	font-size: 18px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u6353-4
{
	z-index: 212;
	width: 144px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #E2E2E2;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.11);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 22px;
	text-indent: 15px;
	color: #646464;
	font-size: 18px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u6324-4
{
	z-index: 184;
	width: 144px;
	min-height: 37px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #0E7194;
	opacity: 0.97;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
	filter: alpha(opacity=97);
	line-height: 22px;
	text-indent: 15px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u6324-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: #0E7194;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	margin: 8px 0px 0px;
}

#u6324-2
{
	padding-top: 7px;
}

#u6327-4
{
	z-index: 200;
	width: 144px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #E2E2E2;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.11);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 22px;
	text-indent: 15px;
	color: #646464;
	font-size: 18px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u6348-4
{
	z-index: 208;
	width: 144px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #E2E2E2;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.11);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 22px;
	text-indent: 15px;
	color: #646464;
	font-size: 18px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u6333-4
{
	z-index: 204;
	width: 144px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #E2E2E2;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.11);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.11);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 22px;
	text-indent: 15px;
	color: #646464;
	font-size: 18px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u6332-4:hover,#u6344-4:hover,#u6353-4:hover,#u6327-4:hover,#u6348-4:hover,#u6333-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: #399EC3;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	margin: 8px 0px 0px;
}

#u6346-4:hover p,#u6332-4:hover p,#u6344-4:hover p,#u6353-4:hover p,#u6327-4:hover p,#u6348-4:hover p,#u6333-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u6346-2,#u6332-2,#u6344-2,#u6353-2,#u6327-2,#u6348-2,#u6333-2
{
	padding-top: 4px;
}

#u6321-4
{
	z-index: 176;
	width: 144px;
	min-height: 29px;
	background-color: #66CADE;
	-moz-border-radius: 2px 2px 0px 0px ;
	-webkit-border-radius: 2px 2px 0px 0px ;
	-khtml-border-radius: 2px 2px 0px 0px ;
	border-radius: 2px 2px 0px 0px ;
	line-height: 24px;
	text-indent: 9px;
	color: #FFFCFC;
	font-size: 20px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 44px;
	position: relative;
}

#u6322
{
	z-index: 169;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #FBBA55;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6335-4
{
	z-index: 253;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6319
{
	z-index: 170;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #FBBA55;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6349-4
{
	z-index: 243;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6328
{
	z-index: 171;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #FBBA55;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6326-4
{
	z-index: 180;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6351-4
{
	z-index: 216;
	width: 144px;
	min-height: 22px;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6352
{
	z-index: 240;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #F05757;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6320-4
{
	z-index: 220;
	width: 144px;
	min-height: 22px;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6338
{
	z-index: 241;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #F05757;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6350-4
{
	z-index: 224;
	width: 144px;
	min-height: 22px;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6342
{
	z-index: 242;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #F05757;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6336
{
	z-index: 172;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #FBBA55;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#u6323-4
{
	z-index: 228;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6341
{
	z-index: 173;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #FBBA55;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6334-4
{
	z-index: 232;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6329
{
	z-index: 247;
	width: 144px;
	position: relative;
}

#u6330-4
{
	z-index: 248;
	width: 144px;
	min-height: 22px;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6331
{
	z-index: 252;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #F05757;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6316
{
	z-index: 174;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #FBBA55;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6347-4
{
	z-index: 236;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6340
{
	z-index: 175;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #FBBA55;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6325-4
{
	z-index: 257;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6343
{
	z-index: 261;
	width: 144px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #BABABA;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-top: 13px;
	position: relative;
}

#u6317-4
{
	z-index: 262;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 6px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-top: 7px;
	position: relative;
}

#u6317-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 7px 0px 0px;
}

#u6339-4
{
	z-index: 266;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6337
{
	z-index: 270;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #47D747;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#pu6322,#pu6319,#pu6328,#pu6351-4,#pu6320-4,#pu6350-4,#pu6336,#pu6341,#pu6316,#pu6340,#pu6339-4,#pu6345-4
{
	width: 0.01px;
	position: relative;
}

#u6345-4
{
	z-index: 271;
	width: 144px;
	min-height: 22px;
	background-color: #FFFFFF;
	color: #7C7C7C;
	text-indent: 21px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6335-4:hover,#u6349-4:hover,#u6326-4:hover,#u6323-4:hover,#u6334-4:hover,#u6347-4:hover,#u6325-4:hover,#u6339-4:hover,#u6345-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u6335-2,#u6349-2,#u6326-2,#u6351-2,#u6320-2,#u6350-2,#u6323-2,#u6334-2,#u6330-2,#u6347-2,#u6325-2,#u6317-2,#u6339-2,#u6345-2
{
	padding-top: 2px;
}

#u6318
{
	z-index: 275;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #47D747;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u6361-4
{
	z-index: 289;
	width: 118px;
	min-height: 25px;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 328px;
}

#u6364
{
	z-index: 301;
	width: 290px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 361px;
}

#pu6284
{
	width: 0.01px;
	margin-left: 492px;
	margin-top: 47px;
	position: relative;
}

#u6284
{
	z-index: 276;
	width: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #D1D1D1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u6301
{
	z-index: 277;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u6302
{
	z-index: 278;
	width: 6px;
	height: 29px;
	border-color: #000000;
	background-color: #4B4B4B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-9,6);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-9,6);
	-o-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-9,6);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-9,6);
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 9px;
}

#u6303
{
	z-index: 279;
	width: 6px;
	height: 29px;
	border-color: #000000;
	background-color: #4B4B4B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,11,2);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,11,2);
	-o-transform: matrix(0.7071,0.7071,-0.7071,0.7071,11,2);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,11,2);
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 25px;
}

#u6314
{
	z-index: 280;
	width: 49px;
	border-style: none;
	border-color: transparent;
	background-color: #D1D1D1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u6284:hover,#u6314:hover
{
	background-color: #626262;
	margin: 0px -10000px 0px 0px;
}

#u6272
{
	z-index: 281;
	width: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u6273
{
	z-index: 282;
	width: 6px;
	height: 29px;
	border-color: #000000;
	background-color: #4B4B4B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,15,22);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,15,22);
	-o-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,15,22);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,15,22);
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 25px;
}

#u6274
{
	z-index: 283;
	width: 6px;
	height: 29px;
	border-color: #000000;
	background-color: #4B4B4B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-webkit-transform: matrix(-0.7071,-0.7071,0.7071,-0.7071,-5,26);
	-ms-transform: matrix(-0.7071,-0.7071,0.7071,-0.7071,-5,26);
	-o-transform: matrix(-0.7071,-0.7071,0.7071,-0.7071,-5,26);
	transform: matrix(-0.7071,-0.7071,0.7071,-0.7071,-5,26);
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 9px;
}

#u6312
{
	z-index: 35;
	width: 290px;
	margin-left: 788px;
	margin-top: 277px;
	position: relative;
}

#u6313-3
{
	z-index: 36;
	width: 290px;
	min-height: 93px;
	color: #686868;
	font-size: 18px;
	line-height: 22px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu6264
{
	width: 0.01px;
	margin-left: 126px;
	top: -1224px;
	margin-bottom: -355px;
	position: relative;
}

#u6264
{
	z-index: 39;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6265-4
{
	z-index: 57;
	width: 49px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u6266
{
	z-index: 40;
	width: 251px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u6271
{
	z-index: 46;
	width: 232px;
	height: 157px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	background: #FFFFFF url("../images/mountaingorilla-u5841-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u6267-5
{
	z-index: 52;
	width: 231px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u6268-4
{
	z-index: 42;
	width: 223px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #0D0D0D;
	font-size: 14px;
	font-weight: bold;
	margin-left: 11px;
	margin-top: 9px;
	position: relative;
}

#u6268-4:hover
{
	opacity: 0.56;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.00000000000001)";
	filter: alpha(opacity=56.00000000000001);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 9px 0px 0px 11px;
}

#u6270-5
{
	z-index: 47;
	width: 232px;
	min-height: 105px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #565656;
	font-size: 14px;
	margin-left: 10px;
	position: relative;
}

#u6269
{
	z-index: 41;
	width: 251px;
	height: 349px;
	-pie-box-shadow: 6px 6px 13px #999999;
	-moz-box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	top: -355px;
	margin-bottom: -349px;
	position: relative;
}

#u6285
{
	z-index: 61;
	width: 251px;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u6288
{
	z-index: 62;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6291-5
{
	z-index: 72;
	width: 231px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	margin-left: 11px;
	margin-top: 9px;
	position: relative;
}

#u6289-4
{
	z-index: 64;
	width: 223px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #0D0D0D;
	font-size: 14px;
	font-weight: bold;
	margin-left: 11px;
	margin-top: 147px;
	position: relative;
}

#u6290-4
{
	z-index: 68;
	width: 232px;
	min-height: 98px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #565656;
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	position: relative;
}

#u6292
{
	z-index: 63;
	width: 251px;
	height: 349px;
	-pie-box-shadow: 6px 6px 13px #999999;
	-moz-box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	top: -338px;
	margin-bottom: -338px;
	position: relative;
}

#u6287-4
{
	z-index: 77;
	width: 116px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u6286
{
	z-index: 81;
	width: 229px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 11px;
	background: #FFFFFF url("../images/embryonic-stem-cells2-u5862-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u6255
{
	z-index: 82;
	width: 251px;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u6256
{
	z-index: 83;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6258
{
	z-index: 84;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6262-5
{
	z-index: 94;
	width: 231px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	margin-left: 11px;
	margin-top: 9px;
	position: relative;
}

#u6261-4
{
	z-index: 86;
	width: 223px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #0D0D0D;
	font-size: 14px;
	font-weight: bold;
	margin-left: 11px;
	margin-top: 147px;
	position: relative;
}

#u6259-4
{
	z-index: 90;
	width: 232px;
	min-height: 98px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #565656;
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	position: relative;
}

#u6260
{
	z-index: 85;
	width: 251px;
	height: 349px;
	-pie-box-shadow: 6px 6px 13px #999999;
	-moz-box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	top: -338px;
	margin-bottom: -338px;
	position: relative;
}

#u6257-4
{
	z-index: 99;
	width: 116px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u6263
{
	z-index: 103;
	width: 227px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 12px;
	background: #FFFFFF url("../images/sustainable2-u5851-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pu6293
{
	width: 0.01px;
	margin-left: 126px;
	top: -828px;
	margin-bottom: -349px;
	position: relative;
}

#u6293
{
	z-index: 104;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6300-4
{
	z-index: 121;
	width: 155px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u6294
{
	z-index: 105;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6295
{
	z-index: 111;
	width: 232px;
	height: 157px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	background: #FFFFFF url("../images/smes_foam_collection-19-630x480-u5889-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u6297-5
{
	z-index: 116;
	width: 231px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#pu6271,#pu6295,#pu6298-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 9px;
	position: relative;
}

#u6298-4
{
	z-index: 107;
	width: 223px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #0D0D0D;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u6298-4:hover
{
	opacity: 0.56;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.00000000000001)";
	filter: alpha(opacity=56.00000000000001);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#u6299-4
{
	z-index: 112;
	width: 232px;
	min-height: 105px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #565656;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u6296
{
	z-index: 106;
	width: 251px;
	height: 349px;
	-pie-box-shadow: 6px 6px 13px #999999;
	-moz-box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	top: -335px;
	margin-bottom: -335px;
	position: relative;
}

#u6304
{
	z-index: 125;
	width: 251px;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u6306
{
	z-index: 126;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6307-5
{
	z-index: 136;
	width: 231px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	margin-left: 11px;
	margin-top: 9px;
	position: relative;
}

#u6309-4
{
	z-index: 128;
	width: 223px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #0D0D0D;
	font-size: 14px;
	font-weight: bold;
	margin-left: 11px;
	margin-top: 147px;
	position: relative;
}

#u6310-4
{
	z-index: 132;
	width: 232px;
	min-height: 98px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #565656;
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	position: relative;
}

#u6308
{
	z-index: 127;
	width: 251px;
	height: 349px;
	-pie-box-shadow: 6px 6px 13px #999999;
	-moz-box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	top: -338px;
	margin-bottom: -338px;
	position: relative;
}

#u6311-4
{
	z-index: 141;
	width: 153px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u6305
{
	z-index: 145;
	width: 229px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 11px;
	background: #FFFFFF url("../images/post_full_1274463406teach-4-america-u5894-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u6275
{
	z-index: 146;
	width: 251px;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u6276
{
	z-index: 147;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6278
{
	z-index: 148;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u6280-5
{
	z-index: 158;
	width: 231px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	margin-left: 11px;
	margin-top: 9px;
	position: relative;
}

#u6281-4
{
	z-index: 150;
	width: 223px;
	min-height: 40px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #0D0D0D;
	font-size: 14px;
	font-weight: bold;
	margin-left: 11px;
	margin-top: 147px;
	position: relative;
}

#u6289-4:hover,#u6261-4:hover,#u6309-4:hover,#u6281-4:hover
{
	opacity: 0.56;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.00000000000001)";
	filter: alpha(opacity=56.00000000000001);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 147px 0px 0px 11px;
}

#u6282-4
{
	z-index: 154;
	width: 232px;
	min-height: 98px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	color: #565656;
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
	position: relative;
}

#u6279
{
	z-index: 149;
	width: 251px;
	height: 349px;
	-pie-box-shadow: 6px 6px 13px #999999;
	-moz-box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 6px 6px 13px -1px rgba(0, 0, 0, 0.4);
	box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	top: -338px;
	margin-bottom: -338px;
	position: relative;
}

#u6277-4
{
	z-index: 163;
	width: 133px;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	font-size: 16px;
	line-height: 19px;
	color: #0D0D0D;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 87px;
}

#u6265-4:hover,#u6287-4:hover,#u6257-4:hover,#u6300-4:hover,#u6311-4:hover,#u6277-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u6265-4:hover p,#u6265-4:hover span,#u6287-4:hover p,#u6287-4:hover span,#u6257-4:hover p,#u6257-4:hover span,#u6300-4:hover p,#u6300-4:hover span,#u6311-4:hover p,#u6311-4:hover span,#u6277-4:hover p,#u6277-4:hover span
{
	color: #D309D3;
	visibility: inherit;
}

#u6265,#u6267-2,#u6291-2,#u6287,#u6262-2,#u6257,#u6300,#u6297-2,#u6307-2,#u6311,#u6280-2,#u6277
{
	font-weight: bold;
}

#u6283
{
	z-index: 167;
	width: 227px;
	height: 163px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 12px;
	background: #FFFFFF url("../images/news-140508-1-shark-large-u5902-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1529
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 36px;
	left: -100px;
	top: -62px;
}

#u1529_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -62px;
}

#u5276
{
	z-index: 33;
	width: 126px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 19px;
}

#u5276_clip
{
	width: 126px;
	height: 46px;
}

#u5276_img
{
	margin-top: 4px;
	margin-right: 1px;
	margin-bottom: -3px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

