.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.9499999999996px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -39px;
	margin-bottom: -36px;
}

#u5194
{
	z-index: 3;
	width: 1160px;
	left: -100px;
}

#u5194_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u5256
{
	z-index: 31;
	width: 140px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 19px;
}

#u1504
{
	z-index: 4;
	width: 124px;
	margin-right: -10000px;
	left: 170px;
}

#u1506
{
	z-index: 5;
	width: 124px;
	margin-right: -10000px;
}

#u1507-4
{
	z-index: 6;
	width: 124px;
	min-height: 58px;
	margin-right: -10000px;
}

#u1507-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 58px;
	margin: 0px -10000px 0px 0px;
}

#u1518
{
	z-index: 22;
	width: 237px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 794px;
}

#u1519
{
	z-index: 23;
	width: 237px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u1521
{
	z-index: 24;
	width: 19px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 8px;
}

#u1520-4
{
	z-index: 26;
	width: 184px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 34px;
}

#u1523
{
	z-index: 30;
	width: 1px;
	height: 59px;
	margin-bottom: -1px;
	margin-right: -10000px;
	left: 1062px;
}

#u1509
{
	z-index: 10;
	width: 38px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1094px;
}

#u1510
{
	z-index: 11;
	width: 21px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u1511
{
	z-index: 12;
	width: 21px;
	margin-right: -10000px;
}

#u1511:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1513
{
	z-index: 14;
	width: 16px;
	margin-right: -10000px;
	left: 23px;
}

#u1515
{
	z-index: 15;
	width: 16px;
	margin-right: -10000px;
}

#u1516
{
	z-index: 16;
	width: 16px;
	margin-right: -10000px;
}

#u1517
{
	z-index: 17;
	width: 11px;
	height: 5px;
	margin-right: -10000px;
	margin-top: 6px;
	left: -2px;
}

#u1514-4
{
	z-index: 18;
	width: 7px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 5px;
}

#u1788
{
	z-index: 35;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	position: relative;
	left: -100px;
	margin-top: 1px;
	background: #FFFFFF url("../images/mainpic-u1549-fr.png") repeat center center;
	background-color: rgba(255, 255, 255, 0.82);
}

#u1788_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 9px;
	padding-bottom: 169px;
}

#u1792
{
	z-index: 38;
	width: 557px;
	left: 7px;
	position: relative;
}

#u1810
{
	z-index: 36;
	width: 121px;
	background-color: transparent;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	left: 520px;
	margin-top: 20px;
	position: relative;
}

#u1810:hover
{
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	margin: 20px 0px 0px;
}

#pu1816-4
{
	width: 0.01px;
	left: -67px;
	margin-top: 12px;
	position: relative;
}

#u1816-4
{
	z-index: 60;
	width: 228px;
	min-height: 40px;
	color: #730F0F;
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1817-4
{
	z-index: 88;
	width: 138px;
	min-height: 39px;
	background-color: #942626;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 692px;
}

#u1817-4:hover
{
	background-color: #AD5A5A;
	background-color: rgba(148, 38, 38, 0.76);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	margin: 1px -10000px 0px 0px;
	-pie-background: rgba(148, 38, 38, 0.76);
}

#u1812-4
{
	z-index: 84;
	width: 138px;
	min-height: 39px;
	background-color: #942626;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 845px;
}

#u1812-4:hover
{
	background-color: #AD5A5A;
	background-color: rgba(148, 38, 38, 0.76);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(148, 38, 38, 0.76);
}

#u1791-4
{
	z-index: 64;
	width: 120px;
	min-height: 39px;
	background-color: #942626;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 998px;
}

#u1791-4:hover
{
	background-color: #AD5A5A;
	background-color: rgba(148, 38, 38, 0.76);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(148, 38, 38, 0.76);
}

#u1817-2,#u1812-2,#u1791-2
{
	padding-top: 2px;
}

#pppu1802-4
{
	width: 0.01px;
	left: -67px;
	position: relative;
}

#ppu1802-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 787px;
}

#u1802-4
{
	z-index: 68;
	width: 131px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1801-4
{
	z-index: 72;
	width: 125px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#pu1802-4,#pu1795-4
{
	width: 0.01px;
	margin-left: 50px;
	position: relative;
}

#u1795-4
{
	z-index: 76;
	width: 131px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1808-4
{
	z-index: 80;
	width: 133px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 145px;
}

#pu1809-4
{
	width: 0.01px;
	margin-top: 2px;
	position: relative;
}

#u1809-4
{
	z-index: 92;
	width: 181px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1799-4
{
	z-index: 96;
	width: 160px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u1804-4
{
	z-index: 56;
	width: 639px;
	min-height: 84px;
	color: #686868;
	font-size: 18px;
	line-height: 22px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1803-4
{
	z-index: 128;
	width: 129px;
	min-height: 28px;
	background-color: transparent;
	color: #4298D9;
	font-size: 18px;
	line-height: 22px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 259px;
}

#u1803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 88px -10000px 0px 0px;
}

#u1803-4:hover p
{
	color: #F863F8;
	visibility: inherit;
}

#ppu1798-4
{
	width: 0.01px;
	left: -67px;
	margin-top: 1px;
	position: relative;
}

#pu1798-4
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1798-4
{
	z-index: 100;
	width: 249px;
	min-height: 40px;
	color: #730F0F;
	font-size: 30px;
	line-height: 36px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu1786-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u1786-4
{
	z-index: 104;
	width: 124px;
	min-height: 33px;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1787-4
{
	z-index: 108;
	width: 125px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 103px;
}

#pu1814-4
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1814-4
{
	z-index: 112;
	width: 136px;
	min-height: 30px;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1781-4
{
	z-index: 116;
	width: 110px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#pu1790-4
{
	width: 0.01px;
	position: relative;
}

#u1790-4
{
	z-index: 120;
	width: 129px;
	min-height: 33px;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1794-4
{
	z-index: 124;
	width: 110px;
	min-height: 33px;
	text-align: right;
	font-size: 24px;
	line-height: 29px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u1805
{
	z-index: 132;
	width: 172px;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	left: 930px;
}

#u1784-4
{
	z-index: 134;
	width: 66px;
	min-height: 15px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 1023px;
}

#u1789-4
{
	z-index: 138;
	width: 28px;
	min-height: 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 1037px;
}

#u1785-4
{
	z-index: 142;
	width: 66px;
	min-height: 15px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 1034px;
}

#u1783-4
{
	z-index: 146;
	width: 28px;
	min-height: 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 1047px;
}

#u1797-4
{
	z-index: 150;
	width: 66px;
	min-height: 15px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 973px;
}

#u1800-4
{
	z-index: 154;
	width: 28px;
	min-height: 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 989px;
}

#u1818-4
{
	z-index: 158;
	width: 66px;
	min-height: 15px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 950px;
}

#u1815-4
{
	z-index: 162;
	width: 28px;
	min-height: 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 966px;
}

#u1796-4
{
	z-index: 52;
	width: 1160px;
	min-height: 88px;
	background-color: #4E0808;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	left: -100px;
	margin-top: 11px;
}

#u1796-4:hover
{
	-pie-box-shadow: 0px 11px 8px #7F7F7F;
	-moz-box-shadow: 0px 11px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 11px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 11px 8px rgba(0, 0, 0, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 88px;
	margin: 11px 0px 0px;
}

#u1782-4
{
	z-index: 48;
	width: 1160px;
	min-height: 88px;
	background-color: #730F0F;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	left: -100px;
}

#pu1900
{
	width: 0.01px;
	left: -67px;
	margin-top: 217px;
	position: relative;
}

#u1900
{
	z-index: 274;
	width: 42px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	position: relative;
	margin-right: -10000px;
}

#u1900_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u1902
{
	z-index: 276;
	width: 42px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	position: relative;
	margin-right: -10000px;
	left: 1042px;
}

#u1900:hover,#u1902:hover
{
	opacity: 0.39;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=39)";
	filter: alpha(opacity=39);
	margin: 0px -10000px 0px 0px;
}

#u1807-4
{
	z-index: 44;
	width: 1160px;
	min-height: 88px;
	background-color: #B41515;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	left: -100px;
	margin-top: 216px;
}

#u1807-4:hover
{
	-pie-box-shadow: 0px 12px 8px #7F7F7F;
	-moz-box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 88px;
	margin: 216px 0px 0px;
}

#u1813-4
{
	z-index: 40;
	width: 1160px;
	min-height: 88px;
	background-color: #EB3131;
	color: #FFFFFF;
	font-size: 36px;
	line-height: 43px;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	left: -100px;
}

#u1782-4:hover,#u1813-4:hover
{
	-pie-box-shadow: 0px 12px 8px #7F7F7F;
	-moz-box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 88px;
	margin: 0px;
}

#u1796-2,#u1782-2,#u1807-2,#u1813-2
{
	padding-left: 34px;
	padding-top: 19px;
}

#pu1859
{
	width: 0.01px;
	margin-left: 10px;
	top: -643px;
	margin-bottom: -412px;
	position: relative;
}

#u1859
{
	z-index: 166;
	width: 272px;
	position: relative;
	margin-right: -10000px;
}

#u1840-5
{
	z-index: 193;
	width: 122px;
	min-height: 16px;
	text-align: right;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1839-4
{
	z-index: 189;
	width: 74px;
	min-height: 16px;
	text-align: right;
	font-family: arimo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u1836
{
	z-index: 183;
	width: 243px;
	border-style: none;
	border-color: transparent;
	background-color: #D5C7B7;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#u1837
{
	z-index: 184;
	width: 187px;
	height: 11px;
	border-style: none;
	border-color: transparent;
	background-color: #65D550;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1845-4
{
	z-index: 198;
	width: 163px;
	min-height: 16px;
	text-align: left;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1838-4
{
	z-index: 185;
	width: 29px;
	min-height: 16px;
	font-family: arimo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 214px;
}

#u1827
{
	z-index: 167;
	width: 272px;
	top: -56px;
	margin-bottom: -56px;
	position: relative;
}

#u1828
{
	z-index: 168;
	width: 272px;
	position: relative;
	margin-right: -10000px;
}

#u1833
{
	z-index: 174;
	width: 252px;
	height: 158px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	margin-left: 10px;
	margin-top: 57px;
	position: relative;
	background: #FFFFFF url("../images/prosthetic-u1833-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1834-4
{
	z-index: 170;
	width: 251px;
	min-height: 40px;
	background-color: transparent;
	color: #0D0D0D;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 11px;
	margin-top: 8px;
	position: relative;
}

#u1832-4
{
	z-index: 175;
	width: 252px;
	min-height: 118px;
	font-size: 16px;
	line-height: 19px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	position: relative;
}

#u1830-4
{
	z-index: 179;
	width: 82px;
	background-color: transparent;
	color: #565656;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 1px;
	position: relative;
}

#u1829
{
	z-index: 169;
	width: 272px;
	height: 408px;
	-pie-box-shadow: 2px 4px 16px #CECECE;
	-moz-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 2px 4px 16px -1px rgba(0, 0, 0, 0.19);
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.19);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	top: -399px;
	margin-bottom: -399px;
	position: relative;
}

#u1860
{
	z-index: 202;
	width: 272px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 329px;
}

#u1864-5
{
	z-index: 229;
	width: 122px;
	min-height: 16px;
	text-align: right;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1863-4
{
	z-index: 225;
	width: 74px;
	min-height: 16px;
	text-align: right;
	font-family: arimo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u1873
{
	z-index: 219;
	width: 243px;
	border-style: none;
	border-color: transparent;
	background-color: #D5C7B7;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#u1861
{
	z-index: 220;
	width: 151px;
	height: 11px;
	border-style: none;
	border-color: transparent;
	background-color: #65D550;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1872-4
{
	z-index: 234;
	width: 163px;
	min-height: 16px;
	text-align: left;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1862-4
{
	z-index: 221;
	width: 29px;
	min-height: 16px;
	font-family: arimo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 214px;
}

#u1865
{
	z-index: 203;
	width: 272px;
	top: -56px;
	margin-bottom: -56px;
	position: relative;
}

#u1866
{
	z-index: 204;
	width: 272px;
	position: relative;
	margin-right: -10000px;
}

#u1867
{
	z-index: 210;
	width: 252px;
	height: 158px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	margin-left: 10px;
	margin-top: 57px;
	position: relative;
	background: #FFFFFF url("../images/public-speaking-u1867-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1869-4
{
	z-index: 206;
	width: 251px;
	min-height: 40px;
	background-color: transparent;
	color: #0D0D0D;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 11px;
	margin-top: 8px;
	position: relative;
}

#u1870-4
{
	z-index: 211;
	width: 252px;
	min-height: 118px;
	font-size: 16px;
	line-height: 19px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	position: relative;
}

#u1871-4
{
	z-index: 215;
	width: 82px;
	background-color: transparent;
	color: #565656;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 1px;
	position: relative;
}

#u1868
{
	z-index: 205;
	width: 272px;
	height: 408px;
	-pie-box-shadow: 2px 4px 16px #CECECE;
	-moz-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 2px 4px 16px -1px rgba(0, 0, 0, 0.19);
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.19);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	top: -399px;
	margin-bottom: -399px;
	position: relative;
}

#u1874
{
	z-index: 238;
	width: 272px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 658px;
}

#pu1840-5,#pu1864-5,#pu1878-5
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 6px;
	position: relative;
}

#u1878-5
{
	z-index: 265;
	width: 122px;
	min-height: 16px;
	text-align: right;
	font-family: karla, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1840-2,#u1864-2,#u1878-2
{
	font-weight: 400;
}

#u1877-4
{
	z-index: 261;
	width: 74px;
	min-height: 16px;
	text-align: right;
	font-family: arimo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u1887
{
	z-index: 255;
	width: 243px;
	border-style: none;
	border-color: transparent;
	background-color: #D5C7B7;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#u1875
{
	z-index: 256;
	width: 219px;
	height: 11px;
	border-style: none;
	border-color: transparent;
	background-color: #65D550;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#pu1845-4,#pu1872-4,#pu1886-4
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#u1886-4
{
	z-index: 270;
	width: 163px;
	min-height: 16px;
	text-align: left;
	font-family: karla, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1876-4
{
	z-index: 257;
	width: 29px;
	min-height: 16px;
	font-family: arimo, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 214px;
}

#u1879
{
	z-index: 239;
	width: 272px;
	top: -56px;
	margin-bottom: -56px;
	position: relative;
}

#u1880
{
	z-index: 240;
	width: 272px;
	position: relative;
	margin-right: -10000px;
}

#u1881
{
	z-index: 246;
	width: 252px;
	height: 158px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	margin-left: 10px;
	margin-top: 57px;
	position: relative;
	background: #379441 url("../images/algae-u1881-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1883-4
{
	z-index: 242;
	width: 251px;
	min-height: 40px;
	background-color: transparent;
	color: #0D0D0D;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	margin-left: 11px;
	margin-top: 8px;
	position: relative;
}

#u1834-4:hover,#u1869-4:hover,#u1883-4:hover
{
	opacity: 0.56;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.00000000000001)";
	filter: alpha(opacity=56.00000000000001);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 8px 0px 0px 11px;
}

#u1884-4
{
	z-index: 247;
	width: 252px;
	min-height: 118px;
	font-size: 16px;
	line-height: 19px;
	font-family: karla, sans-serif;
	font-weight: 400;
	margin-left: 10px;
	position: relative;
}

#u1885-4
{
	z-index: 251;
	width: 82px;
	background-color: transparent;
	color: #565656;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 1px;
	position: relative;
}

#u1830-4:hover,#u1871-4:hover,#u1885-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 1px 0px 0px 10px;
}

#u1830-4:hover p,#u1871-4:hover p,#u1885-4:hover p
{
	color: #36B0BA;
	visibility: inherit;
}

#u1882
{
	z-index: 241;
	width: 272px;
	height: 408px;
	-pie-box-shadow: 2px 4px 16px #CECECE;
	-moz-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 2px 4px 16px -1px rgba(0, 0, 0, 0.19);
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.19);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	top: -399px;
	margin-bottom: -399px;
	position: relative;
}

#u1529
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 36px;
	left: -100px;
	top: -62px;
}

#u1529_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -62px;
}

#u5276
{
	z-index: 33;
	width: 126px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 19px;
}

#u5276_clip
{
	width: 126px;
	height: 46px;
}

#u5276_img
{
	margin-top: 4px;
	margin-right: 1px;
	margin-bottom: -3px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

