.carousel-control.left, .carousel-control.right {
    background-image: none
}
h1
{
	font-size: 2em;
}
h2
{
	font-size: 1.5em;	
}

#NPOsearch
{
	padding-top: 25px;
}

#boobs
{
	width: 100px;
	height: 100px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption 
{
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item 
{
  height: 700px;
  background-color:#555;
}
.carousel img 
{
  position: absolute;
  top: ;
  left: 0;
  min-height: 500px;
}

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}